
<h1> Nonprofits </h1>

</br>
<div class="row">
  <div class="show_nonprofits">
     <%= render @nonprofits %> <%# equivalent to @nonprofits.each do |nonprofit| ... render 'nonprofit' %>
  </div>
 </div>


  <%#<% @nonprofits.each do |nonprofit| %>



</br> 
<%= link_to "Add a NonProfit", new_nonprofit_path %>